# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml

# MyPy
.mypy_cache/

# Editor directories and files
.vscode/
.idea/
*.swp
.DS_Store

# Environment variables
.env

# Pyre
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
